body {
    margin-left: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: lightgray;
    line-height: 1;
  }
  *,
  *:before,
  :after {
      margin: 0;
      padding: 0;
    box-sizing: border-box;
  }
  a{
      text-decoration: none;
  }
  ul,ol,li{
      list-style: none;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-left: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  p {
    margin-left: 0 0 10px;
  }
  img{
      vertical-align: top;
  }